ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



li:last-child {
  border-right: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: palevioletred;
  color: #333;
}



.card2 {
  margin: auto;


}

.cards {

  display: grid;

}

.titulo {
  background-color: mistyrose;
  margin-left: 50px;
  height: 1px;
}

.texto {
  background-color: mistyrose;
  margin-top: 20px;
  height: 5cm;
  text-align: center;


}


.container {
  display: flex;
  padding: 2px 16px;
  background-color: mistyrose;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


  border: black;
  border-width: 5px;
}




img {
  width: 100%;


}




.imagen {
  width: 6cm;

}

.dato2 {
  width: 6cm;
  margin-left: 10px;


}



.datos {
  width: 6cm;



}